nav {
  border-bottom: 1px solid #ace;
  margin-top: 0px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}

nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}
nav ul li {
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ace;
}
nav ul li:first-child {
  border-left: 1px solid #ace;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  color: #ace;
}

.container {
  padding: 20px;
  background: #fff;
  margin-left: 210px;
  margin-right: 210px;
}
header h1 {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
  text-align: center;
}

h2 {
  color: #364e96;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #364e96;
}

h3 {
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

.box {
  padding: 5px 20px 10px 20px;
  margin: 50px 10px 50px 10px;
  border: solid 3px #364e96;
}

.btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #364e96;
  border: solid 2px #364e96;
  border-radius: 3px;
  transition: .4s;
  margin: 10px;
}

.btn:hover {
  background: #364e96;
  color: white;
}

.float {
  float: left;
  margin: 0px 35px 15px 30px;
  border: solid 2px #364e96;
}
.float2 {
  margin: 0px 35px 15px 30px;
  border: solid 2px #364e96;
}
.explan {
  clear: left;
}
