nav {
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}

nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li {
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ccc;
}
nav ul li:first-child {
  border-left: 1px solid #ccc;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
}
nav ul li a:hover {
  background-color: #F8E750;
  border-bottom: 5px solid #F8E750;
}
nav ul li.current {
  font-weight: bold;
}
nav ul li.current a {
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
}
/* .interview {
  height: 500px;
  background-size: cover;
  background-image: url("../image/kawasemi00.jpg");
  margin-top: 23px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
} */
/* .title {
  position: absolute;
  color: #fff;
  left: 50px;
  top: 50px;
}
.subtitle {
  position: absolute;
  color: #fff;
  font-size: 400%;
  right: 50px;
  top: 400px;
} */
body {
  background: skyblue;
  margin: 0;
}

.container {
  padding: 32px;
}

.messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages li {
  display: flex;
}

.messages li + li {
  margin-top: 32px;
}

li.right-side {
  flex-direction: row-reverse;
}

.pic {
  width: 80px;
  text-align: center;
}

.pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text {
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
}

.text::before {
  content: '';
  width: 0;
  height: 0;
  /* border: 8px solid #fff; */
  border: 8px solid transparent;
  position: absolute;
}

.left-side .text::before {
  top: 12px;
  left: -16px;
  border-right-color: #fff;
}

.right-side .text::before {
  top: 12px;
  right: -16px;
  border-left-color: #fff;
}
